*{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

h1{
    background-color: #0E0F19;
    color: #FBFCFF;
    height: 5rem;
    line-height:5rem ;
}

.choice{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

img{
    height: 185px;
    width: 185px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.choice:hover{
    opacity: 0.5;
    cursor: pointer;
    background-color: black;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 5rem;
    margin-top: 5rem;
}

#userscore, #compscore{
    font-size: 3rem;
}

.msg-container{
    margin-top: 5rem;
}

#msg{
   margin-top: 5rem;
   background-color: #0E0F19;
   color: #FBFCFF;
   font-size: 2rem;
   display: inline;
   padding: 1rem;
   border-radius: 1rem;

}